<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Note App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to my Note App</h1>
        
        <form action="/add" method="post">
            <input type="text" name="Work_type" placeholder="Work Type (e.g., Home Work)" required>
            <textarea name="Content" placeholder="Content (e.g., Complete math assignment)" required></textarea>
            <button type="submit">Click to add Note</button>
        </form>
        
        <hr> 
        
        <div class="note-cointainer">
            {% for note in notes %}
            <div class="note-card">
                <h2>
                    <a href="/details/{{note[0]}}" style="color: inherit; text-decoration: none;">
                        {{note[1]}}
                    </a>
                </h2>
                <p>{{note[2]}}</p>
                
                {% if note[3] %}
                <div class="note-date">Created on: {{note[3]}}</div>
                {% endif %}
                
                <form action="/delete/{{note[0]}}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>