<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age Calculator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Welome to My Age Calculator</h1>
        <form action="/calculate" method="post">
            <input type="date" name="DOB" required>
            <button type="submit">Calculate your age</button>
        </form>
        {% if age is defined %}
        <div class="result">
            <span class="result-age">{{age}}</span>
            <span class="result-unit">{{year old}}</span>
            <p class="result-detail">{{detail}} </p>
        </div>
        {% endif %}
        {% if errror is defined}
        <div class="error">{{error}}</div>
        {% endif %}
     </div>
     <P class="footer-note">Your age is  </P>
    
</body>
</html>